<% provide(:title, 'About Me')%>

<h1>About Me</h1>
<p>Hi! My name is Paul Famiglietti |'family-etty'|. I'm a third year law student at <%= link_to "UCLA in Los Angeles", "http://law.ucla.edu" %>. I am primarily interested in intellectual property law. I will be graduating in May 2014.</p>

<p>I am an avid web developer with experience in many languages. I taught myself to code when I was 13, quickly moving from HTML and web languages to object and static languages along with <%= link_to "Linux", "" %>. Currently I enjoy working in Ruby on Rails (including this site). I am passionate about open source coding.</p>

<p>My brother Pete runs <%= link_to "TwentyFourBit", "http://www.twentyfourbit.com" %>.</p>

<p>My interests broadly include <%= link_to "cycling", "" %>, high stakes patent litigation, theoretical physics, and playing the drums.</p>

<p>In the past I've freelanced and consulted on several web start-ups. I love to learn about start-up ideas and help out wherever I can. Please <%= link_to "get in touch", contact_path %>!</p>



