<% provide(:title, 'Blog')%>

<h1>Paul Famiglietti :: Blog</h1>

<p>
<%= link_to "Interesting blog topic #1", blog_path %>
<small>Posted November 10, 2013</small>
</p>


<p>
<%= link_to "A new day, a new post", blog_path %>
<small>Posted November 6, 2013</small>
</p>



<p>
<%= link_to "Using prepared statements in SQL queries", blog_path %>
<small>Posted November 3, 2013</small>
</p>


<p>
<%= link_to "Interesting blog topic #2", blog_path %>
<small>Posted October 30, 2013</small>
</p>


<p>
<%= link_to "Federal Circuit reconsiders patentable subject matter in Ariosa", blog_path %>
<small>Posted October 1, 2013</small>
</p>
