<h2>Hi, here are a few facts about me.</h2>
<p>I'm a <%= link_to "programmer", "https://github.com/pjfamig" %>, entrepreneur, and student at <%= link_to "UCLA Law School", "http://law.ucla.edu" %>.</p>

<p>I started coding when I was 13 with ActionScript. Nowadays I play in PHP and <%= link_to "Ruby on Rails", "" %>.</p>

<p>I'll be practicing <%= link_to "intellectual property law", "http://en.wikipedia.org/wiki/Intellectual_property" %> with <%= link_to "Knobbe Martens", "http://www.knobbe.com" %> in 2014.</p>

<p>I am based in Los Angeles, California.</p>

<p>My interests also include <%= link_to "bike racing", "https://www.usacycling.org/results/?compid=188287" %>, playing the drums, art, and <%= link_to "physics", "" %>.</p>
	