<h2>Welcome!</h2>
<p>I'm a <%= link_to "law student", "http://law.ucla.edu" %>, <%= link_to "programmer", "" %>, and entrepreneur.</p>

<p>I specialize in intellectual property law and policy. I will be joining <%= link_to "Knobbe Martens", "http://www.knobbe.com" %> in 2014.</p>

<p>I taught myself to code when I was 13 years old. Nowadays I work mostly in <%= link_to "Ruby on Rails", "" %> and PHP.</p>

<p>I am based in Los Angeles, California.</p>

<p>I also enjoy <%= link_to "bike racing", "" %>, <%= link_to "patent law", "" %>, <%= link_to "physics", "" %>, and playing the <%= link_to "drums", "" %>.</p>
	