<h2>Hi, here are 5 things about me.</h2>
<p>I'm a <%= link_to "programmer", "https://github.com/pjfamig" %>, entrepreneur, and <%= link_to "student", "http://law.ucla.edu" %> at UCLA Law School.</p>

<p>I started coding when I was 13 with ActionScript. Nowadays I enjoy playing with <%= link_to "Ruby on Rails", "" %>.</p>

<p>I'll be practicing <%= link_to "intellectual property law", "http://en.wikipedia.org/wiki/Intellectual_property" %> with <%= link_to "Knobbe Martens", "http://www.knobbe.com" %> in 2014.</p>

<p>I live in Los Angeles, California.</p>

<p>My interests also include <%= link_to "bike racing", "https://www.usacycling.org/results/?compid=188287" %>, playing drums, and <%= link_to "art and physics", "" %>.</p>
	