<h1>Paul Famiglietti :: Contact</h1>

<%= form_for @message, :url => contact_path, :method => :post do |form| %>
    
	<div class="field">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
    
    <div class="field">
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </div>
    <div class="field">
      <%= form.label :subject %><br>
      <%= form.text_field :subject %>
    </div>
    
    <div class="field">
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </div>
  
    <%= form.submit "Send" %>
<% end %>