<h2>Contact me</h2>

<%= form_for @message, :url => contact_path, :method => :post do |form| %>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>
	
	<div class="field">
      <%= form.text_field :name, placeholder: "Name:" %>
    </div>
    
    <div class="field">
      <%= form.text_field :email, placeholder: "Email:" %>
    </div>    
	<div class="field">
	  <%= form.select :subject, options_for_select(['Subject (select one)','Coding', 'Legal', 'Bikes', 'Other']) %>
	</div>
    <div class="field">
      <%= form.text_area :body, placeholder: "Enter a message..." %>
    </div>
  
    <%= form.submit "Send", :class => 'btn btn-small btn-success' %>
<% end %>